@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import './styles/variables-feastables.css';

#root {
  width: 100%;
  min-height: 100vh;
}